<HTML>
<HEAD>
<TITLE>Spantastic Website</TITLE>
</HEAD>
<BODY BGCOLOR="000000" TEXT="FFFFFF">
    
    <div style="width: 100%; height: 300px; overflow: hidden">
      <img src="http://www.hdwallpapers.in/walls/sunrays_sky_clouds-wide.jpg" width="100%" height="1200">
    </div>
    

<HR>
<center>
<h1>This is EVERYTHING you ever wanted to know ABOUT my spantastic website. - Best Site ever!</h1>

<H2>Most Awesome Links Below:</H2>
<%= link_to 'Home Page', root_path %>
<BR>
<%= link_to 'Why So Page', why_path %>

<BR><BR>
Send me mail at <a href="mailto:support@yourcompany.com">support@yourcompany.com</a>.

<P> <B>Yup!  Good story!</B>
</center>
<HR>
</BODY>
</HTML>

